<div class="container">
  <span class="bottle-count">
    {{ bottles ? bottles.length : null
    }} items found.
  </span>
  <mat-card class="bottle-detail-card" *ngFor="let bottle of bottles">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="bottle-name">{{ bottle.name }}</mat-card-title>
        <mat-card-subtitle class="bottle-price"
          >{{ bottle.articles[0].price }}€
          <p>{{ bottle.articles[0].pricePerUnitText }}</p>
        </mat-card-subtitle>
        <img
          mat-card-lg-image
          class="bottle-img"
          src="{{ bottle.articles[0].image }}"
          alt=""
        />
      </mat-card-title-group>
    </mat-card-header>
    <!-- <mat-card-content>
      {{ bottle.descriptionText ? bottle.descriptionText : null }}
    </mat-card-content> -->
  </mat-card>
</div>
