<app-header></app-header>
<div class="container">
  <span class="toggle-btn btn-1">
    <input type="checkbox" />
    <label for="switch"></label>
  </span>
</div>
<!-- <div class="container">
  <div class="button-wrap">
    <a
      class="button"
      routerLink="/detail-view"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >details</a
    >
    <a
      class="button"
      routerLink="/bottle-view"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >bottles</a
    >
  </div>
</div> -->
<router-outlet></router-outlet>
