<p>detail-view works!</p>
<button (click)="fetchBottles()">load</button>
<!-- <div>{{ data }}</div> -->
<div [ngClass]="'container'"></div>
<div [ngClass]="'bottle-detail-card'" *ngFor="let bottle of bottles">
  <img [ngClass]="'bottle-img'" src="{{ bottle.articles[0].image }}" alt="" />
  <p [ngClass]="'bottle-name'">{{ bottle.name }}</p>
  <p [ngClass]="'bottle-price'">{{ bottle.articles[0].price }}</p>
  <p [ngClass]="'bottle-price-per-unit'">
    {{ bottle.articles[0].pricePerUnitText }}
  </p>
</div>
